body {
  width: 300px;
  height: 260px;
  margin: 0;
  font-family: "Press Start 2P", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: "Press Start 2P", monospace;
}

.retro-highlight {
  font-family: 'Press Start 2P', monospace; /* Retro-style pixel font */
  background-color: #ffcc00; /* Bright yellow background */
  color: black; /* Ensures text is readable */
  padding: 2px;
  border: 1px dotted red; /* Retro computer-like border */
}
